/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}


/* Layout
-------------------------------------------------------------- */
img,video{width: auto; max-width: 100%; height: auto; margin: 0 auto;}
.container{width:92%;margin-left:auto;margin-right:auto;max-width:1000px;*zoom:1;}
.grid-container:after{content:"";display:table;clear:both;}
.grid-unit, .grid-unit-project, .grid-unit-info, .left-col, .right-col  {position: relative;margin-left: 0;width: 100%;float: left;display: inline; margin-bottom: 2em;}
.grid:after {content: "";display: table;clear: both;}
*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

html{ height:100% }

body{
	font-size: 100%;
	line-height: 1.65;
	background: #1c2128 url(../img/bg-maintenance.png) no-repeat bottom right;
	color: #3b4045;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.logo { 
	margin: 140px 0 50px 0;
}

a {
	color: #80bd01;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

a:hover{
	opacity: 1;
}

h1 {
	font-weight: 300;
	font-size: 32px;
	color: #fff;
	margin-bottom: 20px;
}

h2 {
	font-size: 22px;

	font-weight: 300;
	color: #fff;
}
